body {
  margin-top: 50px;
  box-sizing: border-box;
  font-size: 20px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.container {
  box-shadow: 2px 2px 2px 2px #c3c3c3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  height: 100%;
  width: 450px;
}
.inpt {
  border: 1px solid black;
  border-radius: 7px;
  padding: 2px 5px;
  width: 100%;
  height: 25px;
}
.field {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 15px 0px;
}
label {
    font-weight: 520;
  line-height: 2;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  padding: 2px 5px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn:hover {
  background-color: black;
  color: white;
}
.errors{
    color: red;
    font-size: 17px;
}
